<div class="overlay">
	<div class="close">X</div>
	<div class="contents">
		<h1>SECOND SCREEN/TECHNICAL DEMO</h1>
		<h2>BY NOTERIK / VERSION 0.1 / MAY 2014</h2>
		<hr>
		<p>
			The Second Screen technical demo is part of Noterik's ongoing development work in the LinkedTV project. The demo has been made in order to test the interaction between the first and the second screen. Beside showing related metadata on the content of the main-screen video it also allow user to actively bookmark and share fragment with other users, making it thereby a social tv application			<br /><br />
			<br /><br />
			A screencast demo of the application can be seen <a href="http://www.noterik.nl/products/multiscreentoolkit/?id=secondscreen">here</a>.
			<br /><br />
			Disclaimer: This demo is work in progress and may thus not work perfectly.
			<br /><br />
			For further inquiries, please contact:
			<br />
			Rutger Rozendal, CEO / r.rozendal@noterik.nl
			<br />
			Noterik / www.noterik.nl
		</p>
		<button>GOT IT - TAKE ME TO THE DEMO</button>
	</div>
</div>
